body {
  margin: 0;
  background: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar {
  width: 100%;
  background: #222;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #00ccff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.container {
  margin-top: 100px;
}

input {
  padding: 15px;
  width: 250px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 30px;
  background: #00ccff;
  color: black;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background: #0099cc;
}

iframe {
  margin-top: 30px;
  border: none;
  background: #000;
}


table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background: #222;
}

th, td {
  border: 1px solid #444;
  padding: 12px;
}

th {
  background: #00ccff;
  color: black;
}

td button {
  padding: 5px 10px;
  cursor: pointer;
}


.game-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-card {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
  text-align: left;
}

.game-frame-container {
  width: 90%;
  height: 600px;
  margin: 20px auto;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #444;
}

.game-frame-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.btn-small {
  padding: 8px 12px;
  font-size: 14px;
}

